{% extends 'base.html' %}
{% block breadcrumb %}
<li>Accounting</li>
<li>Receipts</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container-trans-table">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-bprofile margin-top-set trans-table">
    <div class="panel-heading">
      <h3 class="panel-title">
        Receipts Lists
        <span><a href="{% url 'micro_admin:receiptsdeposit' %}"><button class="ed-btn"><i class="fa fa-plus padd"></i>New Receipt</button>
        </a></span>
      </h3>
    </div>
    <div class="hg-table panel-body pb-table">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="head-row-tb">
              <th class="wid-10">S.No.</th>
              <th class="wid-90">Date</th>
              <th class="wid-10">Receipt Number</th>
              <th>Member Name</th>
              <th class="wid-10">Share Capital</th>
              <th class="wid-10">Entrance Fee</th>
              <th class="wid-10">Membership Fee</th>
              <th class="wid-10">Book Fee</th>
              <th class="wid-74">Loan Processing Fee</th>
              <th class="wid-90">Thrift Deposits</th>
              <th>Fixed Deposit Account</th>
              <th class="wid-90">Fixed Deposits</th>
              <th>Recurring Deposit Account</th>
              <th class="wid-90">Recurring Deposits</th>
              <th class="wid-90">Member Loan A/C. No.</th>
              <th class="wid-90">Group Loan A/C. No.</th>
              <th class="wid-90">Loan Principal Amount</th>
              <th class="wid-90">Loan Interest Amount</th>
              <th class="wid-90">Insurance Amount</th>
              <th class="wid-90">Created By</th>
            </tr>
          </thead>
          <tbody class="body-row-tb">
            {% for receipt in receipt_list %}
            <tr>
              <td><b>{{ forloop.counter }}</b></td>
              <td>{{ receipt.date }}</td>
              <td>{{ receipt.receipt_number}}</td>
              <td><a href="{% url 'micro_admin:clientprofile' receipt.client.id %}" style="color:#337ab7;">{{ receipt.client.first_name|capfirst }} {{ receipt.client.last_name|capfirst }}</a></td>
              <td>
                {% if receipt.sharecapital_amount%}{{ receipt.sharecapital_amount|floatformat:2}}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.entrancefee_amount%}{{ receipt.entrancefee_amount|floatformat:2 }}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.membershipfee_amount%}{{ receipt.membershipfee_amount|floatformat:2 }}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.bookfee_amount%}{{ receipt.bookfee_amount|floatformat:2}}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.loanprocessingfee_amount%}{{ receipt.loanprocessingfee_amount|floatformat:2 }}
                {% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.savingsdeposit_thrift_amount%}{{ receipt.savingsdeposit_thrift_amount|floatformat:2 }}
                {% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.fixed_deposit_account %}
                  <a href="{% url 'micro_admin:clientfixeddepositsprofile' receipt.fixed_deposit_account.id %}" style="color:#337ab7;">{{ receipt.fixed_deposit_account.fixed_deposit_number }}</a>
                  {% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.fixeddeposit_amount%}{{ receipt.fixeddeposit_amount|floatformat:2 }}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.recurring_deposit_account %}
                  <a href="{% url 'micro_admin:clientrecurringdepositsprofile' receipt.recurring_deposit_account.id %}" style="color:#337ab7;">{{ receipt.recurring_deposit_account.reccuring_deposit_number }}</a>
                {% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.recurringdeposit_amount%}{{ receipt.recurringdeposit_amount|floatformat:2 }}{% else %}-{% endif %}
              </td>
              <td>
                {{ receipt.member_loan_account.account_no|default:" - " }}
              </td>
              <td>
                {{ receipt.group_loan_account.account_no|default:" - " }}
              </td>
              <td>
                {% if receipt.loanprinciple_amount%}{{ receipt.loanprinciple_amount|floatformat:2 }}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.loaninterest_amount%}{{ receipt.loaninterest_amount|floatformat:2}}{% else %}-{% endif %}
              </td>
              <td>
                {% if receipt.insurance_amount%}{{ receipt.insurance_amount|floatformat:2 }}{% else %}-{% endif %}
              </td>
              <td>
                <a href="{% url 'micro_admin:userprofile' receipt.staff.id %}" style="color:#337ab7;">{{ receipt.staff|capfirst|default:" - " }}</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
{% endblock %}