{% extends 'base.html' %}
{% block breadcrumb %}
{% if selecteduser.branch %}
  <li><a href="{% url 'micro_admin:branchprofile' selecteduser.branch.id %}">{{ selecteduser.branch.name|capfirst }} Branch</a></li>
{% endif %}
<li><a href="{% url 'micro_admin:userprofile' selecteduser.id %}">{{ selecteduser.username|capfirst }} Staff</a></li>
<li>Edit</li>
{% endblock %}
{% block stage %}
<!--content goes below-->
<div class="container">
  <!--form div starts below-->
  <div class="panel panel-default my-panel-2 margin-top-set">
    <div class="panel-heading">{{selecteduser.username|capfirst }} Staff Edit Page</div>
    <div class="panel-body pb-pad">
      <form id="edituserform" class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <!--div 1 0f form-->
        <div class="box-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
              <input type="hidden"  id="user_id" value="{{selecteduser.id}}" style="dispaly:none;">
              <input type="text" class="text-box wid-form" id="first_name" value="{{selecteduser.first_name}}" name="first_name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="last_name" value="{{selecteduser.last_name}}" name="last_name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-8 mar-top-rad">
              <select class="text-box wid-form select-box-pad" id='gender' name="gender" readonly>
                <option value="">----------</option>
                <option value="M" {% if selecteduser.gender == 'M' %}selected='selected'{% endif %} >Male</option>
                <option value="F" {% if selecteduser.gender == 'F' %}selected='selected'{% endif %}>Female</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Branch</label>
            <div class="col-sm-8">
              <select class="text-box wid-form select-box-pad" name="branch" id="branch" readonly>
                <option value="">---------</option>
                {% for entry in branch %}
                  {% ifequal entry.id selecteduser.branch.id %}
                    <option value="{{ entry.id }}" selected="selected">{{ entry.name }}</option>
                  {% else %}
                    <option value="{{ entry.id }}">{{ entry.name }}</option>
                  {% endifequal %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">User Roles</label>
            <div class="col-sm-8">
              <select class="text-box wid-form select-box-pad" name="user_roles" id="user_roles">
                {% for role in userroles %}
                  {% ifequal role selecteduser.user_roles %}
                    <option value="{{ role }}" selected="selected">{{ role }}</option>
                  {% else %}
                    <option value="{{ role }}">{{ role }}</option>
                  {% endifequal %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="email" name="email" value="{{selecteduser.email}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Mobile</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="mobile" name="mobile" value="{{selecteduser.mobile}}">
            </div>
          </div>
        </div>
        <!--div 1 of fomr ends above-->
        <!--div 2 of form starts below-->
        <div class="box-form">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Country</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="country" name="country" value="{{selecteduser.country}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">State</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="state" name="state" value="{{selecteduser.state}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">District</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="district" name="district" value="{{selecteduser.district}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">City</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="city" name="city" value="{{selecteduser.city}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Area</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="area" name="area" value="{{selecteduser.area}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">Pin-Code</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="pincode" name="pincode" value="{{selecteduser.pincode}}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-4 control-label">User Name</label>
            <div class="col-sm-8">
              <input type="text" class="text-box wid-form" id="username" name="username" value="{{selecteduser.username}}">
            </div>
          </div>
        </div>
        <!--branch 2 ends above-->
        <!--btn row-->
        <br clear="all" />
        <div class="btns-row">
          <div class="form-group btns align-btns">
            <p id="edituserformerror"></p>
            <button class="submit-btn" type="submit"><i class="fa fa-check padd"></i>Submit</button>
            <button class="cancel-btn" type="reset"><i class="fa fa-times padd"></i>Cancel</button>
          </div>
        </div>
        <!--btn row ends above-->
      </form>
    </div>
  </div>
  <!--form div ends above-->
</div>
<!--content ends above-->
<script type="text/javascript">
  $(document).ready(function() {
    $('#edituserform').submit(function(e) {
      e.preventDefault();
      $("span.error").remove();
      $.post('/user/edit/'+$('#user_id').val()+'/', $('#edituserform').serialize(), function(data) {
        if (data.error == false) {
          window.location = data.success_url;
        }
        else{
          $("span.error").remove();
          $.each(data.errors, function( key, value ) {
            $('#'+key).after("<span class='error' style='height:11px;color:red;'> * " + value + "</span>");
          });
        }
      }, "json");
    });
    $('.cancel-btn').click(function(e){
      $("span.error").remove();
    });
  });
</script>
{% endblock %}